/* style jeu tableau*/
table {
    background-color: #cccfcc;
    border: medium solid #000000;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
}
td {
    border: thin solid #dd481b;
    width: 100px !important;
    height: 100px !important;
    padding: 5px;
    cursor: pointer;
}
.croie{
    background-image: url("/image/croi.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
	height: 50px;
}
.rond{
    background-image: url("/image/rond.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
	height: 25px;
}

/* Rajout style div*/
.content{
    margin-top: 10px;
    border: 3px solid black;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    display: flex;
}

.colone1{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.case_1{
    border:1px solid black;
    height: 100px;
}

.case_4{
    border:1px solid black;
    height: 100px;
}

.case_7{
    border:1px solid black;
    height: 100px;
}

.colone2{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.case_2{
    border:1px solid black;
    height: 100px;
}

.case_5{
    border:1px solid black;
    height: 100px;
}

.case_8{
    border:1px solid black;
    height: 100px;
}

.colone3{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.case_3{
    border:1px solid black;
    height: 100px;
}

.case_6{
    border:1px solid black;
    height: 100px;
}

.case_9{
    border:1px solid black;
    height: 100px;
}

.rond2{
    background-image: url("/image/rond.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 98px;
}

.croie2{
    background-image: url("image/croi.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 98px;
}